<div id="<%= dom_id page_link %>">
  <p>
    <strong>Page:</strong>
    <%= page_link.page_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= page_link.title %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= page_link.url %>
  </p>

</div>
