<tr class="border-b dark:border-neutral-500" id="<%= dom_id page_link %>">
  <td class="whitespace-nowrap px-6 py-4 font-medium"><%= page_link.title %></td>
  <td class="whitespace-nowrap px-6 py-4">
    <%= page_link.url %>
  </td>
</tr>

