<h1>Editing page link</h1>

<%= render "form", page_link: @page_link %>

<br>

<div>
  <%= link_to "Show this page link", @page_link %> |
  <%= link_to "Back to page links", page_links_path %>
</div>
