<tr class="border-b dark:border-neutral-500" id="<%= dom_id page %>">
  <td class="whitespace-nowrap px-6 py-4 font-medium"><%= page.title %></td>
  <td class="whitespace-nowrap px-6 py-4">
    <%= page.page_links.count %>
    <%= link_to "Details", page, class: "inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-black" %>
  </td>
</tr>

